.busqueda-segun {
    width: 100%;
    display: inline;
    background-color: white;
    padding: 100px;
    border-radius: 15px;
    font-size: 2rem;
    margin: 10px;
    text-align: center;
}

img {
    
    margin: 0;
    height: 200px;
   
    
    border-radius: 100%;
}