.contenedor-empresa{
    margin-left: 5px;
    margin-right: 5px;
    background-color: #fff;
    width: 99%;
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nombre-empresa {
    padding: 40px;
    text-align: center;
    font-size: 100px;
    font-weight: 400;
    color: #6495ed;
    
}

.contenedor-eslogan{
    width: 18%;
}

.eslogan{
    text-align: top;
    margin-right: 20px;
    margin-left: 0px;
    padding: 0px;
    font-size: 2rem;
    justify-content: right;
    word-wrap: break-word;
}