h1 {
    font-size: 50px;
    
}

.contenedor-valor{
    width:  100%;
	height: 500px;
	margin:  10px 10px 50px;
	display:  flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
    border-radius: 15px;
}

.imagen-valor {
    height: 90%;
    width: auto;
    background-color: #fff;
}

.texto-valor {
    text-align:justify;
    justify-content:right;
	padding: 40px;
	font-family: Lato, sans-serif;
	font-weight: 400;
	line-height: 1.5rem;
}
.p-valor{
    font-size: 2rem;
	line-height: 3rem;
	text-align: center;
}

